<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Início</ion-title>
    </ion-toolbar>
  </ion-header>  
  <ion-card>
      <img src="assets/img/professor.jpeg" style="width: 400px"/>
      <ion-card-header>
          <ion-card-title>Calcula Professor</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          Criado para facilitar a vida do professor que não sabe quanto seu salário irá mudar de semestre para o outro.
          <br>
          O cálculo é feito com base nas regras do SINPRO-BA. 
      </ion-card-content>
      </ion-card>
    
</ion-content>
